html,
body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(108, 118, 124);
}
.footer {
  bottom: 0;
  width: 100%;
  position: absolute;
  height: 200px;
}
.bodycss {
  height: 100vh;
  padding: 0;
  margin: 0;
  position: relative;
}
h6 {
  color: black;
}

#img-sizing {
  width: 100px;
  height: 100px;
}

#cancelButton {
  margin-left: 15px;
}
