html,
#navbarColor {
  background-color: white;
  box-shadow: 10px 1px 5px black;
}

#colBody {
  background-image: url(/img/homepage.jpg);
  background-size: cover;
  height: 550px;
  opacity: 0.7;
}

#Footer {
  background-color: #aaa;
}

#tabsposition {
  margin-top: 100px;
}

/* #buttonLogin {
  margin-left: 80px;
} */

#Allbutton {
  background-color: #2893cc;
  color: white;
}

#paperClue {
  margin: 30px;
}

#createform {
  width: 600px;
}

#createFormTitle {
  text-align: center;
}

#titleDashboard {
  margin-top: 20px;
}

#subtitleDashboard {
  margin-top: 30px;
}

#homePageButton {
  margin-top: 40px;
  margin-bottom: 40px;
}

#homePageTitle {
  font-weight: bold;
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #f5f5f5;
}
.footer {
  bottom: 0;
  width: 100%;
  position: absolute;
  height: 200px;
}
.bodycss {
  height: 100vh;
  padding: 0;
  margin: 0;
  position: relative;
}
h6 {
  color: black;
}

#img-sizing {
  width: 100px;
  height: 100px;
}

#cancelButton {
  margin-left: 15px;
}
